name: Publish branch to Pages
on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Copy to Pages folder
        run: |
          mkdir -p public/${GITHUB_REF_NAME}
          cp -r * public/${GITHUB_REF_NAME}/
          rm -rf public/${GITHUB_REF_NAME}/.git
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
